__pycache__
*.pyc
settings/*.yaml
!settings/*.sample.yaml
*.db
output_*
output-*
config
logs
.ipynb_checkpoints/
*.o*
2019*
dist/
build/
MANIFEST
*.cache
*.png
*.ipynb
*.blend
*.npy
*.csv
*.tsv
.DS_Store
HTSOHM.egg-info
