__pycache__
.pytest_cache
*.pyc
settings/*.yaml
!settings/*.sample.yaml
config
logs
.ipynb_checkpoints/
*.o*
dist/
build/
MANIFEST
*.cache
*.png
*.ipynb
*.blend
*.npy
*.csv
*.tsv
.DS_Store
HTSOHM.egg-info
